@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=M+PLUS+1:wght@300;400;500&display=swap");
$main-font: "Lora", serif;
$head-font: "M PLUS 1", sans-serif;
$gray-text: #a4a4a4;
$gray-buttons: #b4b4b4;
$num-color: #b3a78b;
$title-black: #171717;
